<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ABC</title>
</head>
<body>
	<div class="menu">
		
	</div>
	<h1>New Question</h1>
	<form action="http://localhost:8000/OTS/savequestion/" method="post">
		<div class="title">Question Statement</div>
		<div class="data"><textare name="question"></textare> </div>
		<div class="title">option a</div>
		<div class="data"><input type="text" name="optiona"></div>
		<div class="title">option b</div>
		<div class="data"><input type="text" name="optionb"></div>
		<div class="title">option c</div>
		<div class="data"><input type="text" name="optionc"></div>
		<div class="title">option d</div>
		<div class="data"><input type="text" name="optiond"></div>

		<div class="title">Answer</div>
		<div class="data">
			<select name="answer">
				<option value="a">a</option>
				<option value="b">b</option>
				<option value="c">c</option>
				<option value="d">d</option>
			</select>
		</div>
		<div><input type="submit" name="submit" value="submit"> </div>
	</form>
</body>
</html>